@charset"UTF-8";
*{margin: 0px;box-sizing: border-box;}
html{scroll-behavior: smooth;} 
html,body{height: 100%;} 
body{
	background-color: #fff;
	font-family: "Helvetica",sans-serif; 
	z-index: -1;
}
.preloader{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	background-color: #fff;
	align-items: center;
	justify-content: center;
	transition: 0.5s;
}
.preloader img{
	width: 300px; 
	position: absolute; 
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.top-bar{
	position: fixed;
	top: 0px;
	left: 0px;
	overflow: hidden;
	width: 100%;
	background-color: #fff; 
	z-index: 1;
	box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.3);
}
.top-bar span{
	display: inline-block;
	padding: 10px 20px;
	font-size: 30px;
	cursor: pointer;
}
.top-bar h1{
	display: inline-block;
	font-family: serif; 
	padding: 10px;
	text-align: center;
	width: 90%;
	float: right;
}
h2,h3,h4{font-weight: lighter;}
h2:not(#main h2,.circle h2,.sub h2)
{padding: 50px 0px;}
.nav{
	width: 0;
	height: 100%;
	position: fixed;
	overflow: auto;
	padding-top: 80px; 
	top: 0;
	left: 0;
	background-color: #fff;
	z-index: 1;
	transition: 0.5s ease-in-out;
	box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.3);
}
.nav a{
	text-decoration: none;
	color: inherit;
	display: block;
	padding: 20px;
	font-size: 25px;
	 transition: 0.3s;
}
.nav a:hover{background-color:#eee;}
a.times{
	position: absolute;
	top: 0px;
	right: 0px;
	padding: 5px 10px;
	font-size: 30px;
	font-weight: bold;
}
a.times:hover{
	background-color: #ff5050;
	color: #fff;
}
.dropdown{
	display: inline-block;
	position: relative;
	width: 100%;
}
.dropdown-content{
	position:absolute;
	min-width: 100%;
	display:none;
	overflow: hidden;
	background-color: #fff;
	box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.3);
}
.dropdown-content a{
	font-size: 17px;
	padding: 10px 20px;
} 
.dropdown:hover 
.dropdown-content{display: block;}
#about,#collect,
#contact{padding-top: 100px;}
#content{
	padding: 30px 90px;
	overflow: hidden;
	margin-top: 50px;
}
#main{
	overflow: hidden;
	height: 580px;
	}
 #main> div{
	width: 23%;
	height: 94%; 
	float: left;
	margin: 10px 1%;
	box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.3);	
}
#main span{
	display: block;
	padding: 20px;
	text-align: center;
}
	#main a,#about a{
	display: block;
	width: 100%;
	padding: 10px;
	background-color: #eee;
	color: inherit;
	text-decoration: none;
}
#main a:hover{background-color: #ddd;}
#main p{
	font-size: 15px;
	line-height: 20px;
	margin: 5px 0px;
}
#food img{width: 100%;}
#about{
	margin: 50px auto; 
	overflow: hidden;
	width: 70%;
}
#about h1,#collect h1,
#contact h1{
	text-align: center;
	font-weight: lighter;
}
#about > div{
	padding: 20px;
	margin: 20px 0px;
	background-color: #eee;
	border-left: 5px solid #ccc;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
}
#about p{
	font-size: 20px;
	line-height: 28px;
	margin: 20px 0px;
}
#about a{
	display: block;
	background-color:#ddd; 
	width: 110px; 
	margin: 20px 0px;
}
#about a:hover{background-color: #ccc;}
#about img{
	width: 100%;
	height: auto;
	border:5px outset;
	display: block;
	border-radius: 20px;
}
#about h3{margin-top: 10px;} 
h3 span{font-size: 18px;}
#collect{
	overflow: hidden;
	width: 100%;
}
#collect p{
	font-size: 20px;
	margin: 10px 0px;
} 
#collect h2{
	text-align: left;
	margin: 10px 1%;
}
.ring{
	overflow: hidden;
	padding: 20px 0px;
	text-align: center;
}
#ring,#Necklace,#earrings
{margin: 10px 0px;overflow: hidden;}
.side{
	width: 32%;
	float: left;
	margin:10px 1%;
	overflow: hidden;
	margin-left:0.25%;
	box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
}
.side img{width: 100%;}
.side a{
	text-decoration: none;
	color: inherit;
	padding: 10px;
	margin: 10px 0px;
	border-radius: 10px;
	border: 1px solid #ccc;
	display: inline-block;
}
.side:hover{
	border-radius: 10px;
	box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.3);
} 
.side a:hover{background-color: #ccc;}
.circle h2{padding: 0px;}
.sub{overflow: hidden;height: 280px;}
.sub > div{
	width: 48%;
	height: 86%; 
	float: left;
	margin:20px 1%;
	box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3); 
}
.post p{margin: 20px 0px;}
div.post{
	background-color: #ffffff;
	filter: contrast(90%);
}
div.post:hover{filter: contrast(100%);} 
.sub h2{
	background-color: #ccc;
	text-transform: uppercase; 
	color: #000;
	padding: 20px 10px;
}
.post > div{padding: 10px;}
input{
	width: 100%;
	display: block;
	margin: 7px 0px;
	padding: 10px;
}
button{
	border:none;
	background-color: #ccc;
	padding: 10px;
	display: inline-block;
}
button:hover{
	background-color: #bbb;
	cursor: pointer;
}
.blog img{
	width: 60px;
	float: left; 
	height: 60px;
} 
.lorem p{margin: 5px 0px;}
.lorem{
	display:block;
	overflow: hidden;
	padding: 10px;
}
.such{border-bottom: 1px solid #d7d7d7;} 
.lorem > div{float: left;padding:5px 10px;}
.lorem:hover{background-color: #d7d7d7;}
#contact {
	overflow: hidden;
	padding: 30px 0px;
	padding-top: 100px;
}
#contact > div{
	width: 48%;
	float: left;
	margin: 50px 1%;
}
.circle{
	height: 550px;
	overflow: hidden;
	text-align: center;
}
img.social{
	display: block;
	margin: 0px auto;
	margin-bottom: 20px;
	width: 300px;
	border-radius: 50%;
	box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.3); 
}
.circle span img{
	width: 50px;
	display: inline-block;
	margin: 20px 0px;
	opacity: 0.75;
}
.circle span img:hover{
	opacity: 1; 
	margin-top: -60px;
	transition: margin-top .5s;
}
textarea{
	width: 100%;
	padding: 0px 10px; 
	height: 300px;
	margin: 20px 0px; 
	border: none;
	border: 1px solid #ccc;
	resize: none;
	font-size: 17px;
}
.message input{
	border: none;
	border: 1px solid #ccc;
	width: 49%;
	float: left;
	margin-right: 1%;
}
#contact p{margin: 20px 0px;}
#contact button{
	border: none;
	background-color: #ddd;
	padding: 10px;
}
#contact button:hover{
	background-color: #ccc;
	cursor: pointer;
}
.message h2{
	font-weight: lighter;
	margin: 20px 0px;
}
#contact p a{
	text-decoration: none;
	color: inherit;
}
#contact p a:hover
{text-decoration: underline;}
.footer{
	font-size: 20px;
	letter-spacing: 2px;
	text-align: center;
}
.footer a{color: inherit;}
@keyframes rotate{
	to{transform: rotate(360deg);}
}
@keyframes animate{
	from{transform: scale(0);}
	to{transform: scale(1);}
}
@media screen and (max-width: 900px){
	#main{height: auto;}
	#main > div{width: 48%;}
	#content{padding: 30px;}
	#about{width: 100%;}
}
@media screen and (max-width: 750px){
	#main > div{width: 98%}
	.side{width: 99%;}
	#about > div{border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;}
	#about p{font-size: 15px;}
	.top-bar span{padding: 10px;font-size:25px;}
	.top-bar h1{font-size:25px;}
	.sub{height: auto;}
	.footer{font-size: 15px; line-height: 20px;text-align: left;}
	.sub > div,#contact > div{width: 98%;height: auto;}
	textarea{height: 200px;}
}
@media screen and (max-width: 500px){
	.top-bar span{width: 10%;float: left;}
	.blog{display: none;}
	img.social{width: 250px;}
}
